
header h1 {
    margin: 0;
    font-size: 2rem;
}

.nav_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

  nav {
    background-color: #8D0B41;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 51.5%;
    border-radius: 10px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px;
}

nav a:hover {
    color: #4d0623;
}

#authLinks a {
    font-size: 1rem;
    margin: 0 10px;
}

#authLinks a:hover {
    color: #3498db;
}