RewriteEngine On

# Check if the requested file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# If the file or directory doesn't exist, redirect to index.php
RewriteRule ^(.*)$ index.php [L,QSA]